@import '../node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/@fontsource/manrope';
@import '../node_modules/@fontsource/inter';

body {
  margin: 0;
  font-family: 'Manrope', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--cl-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(./images/bg/bg@1x_sm.png);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  body {
    background-image: url(./images/bg/bg@2x_sm.png);
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/bg/bg@1x_md.png);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url(./images/bg/bg@2x_md.png);
  }
}

@media (min-width: 1280px) {
  body {
    background-image: url(./images/bg/bg@1x_lg.png);
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  body {
    background-image: url(./images/bg/bg@2x_lg.png);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* colors */
  --cl-white: #fdf7f2;
  --cl-yellow: #ffc107;
  --cl-red: #f43f5e;
  --cl-green: #00c3ad;
  --cl-blue-link: #54adff;
  --cl-blue-light: #cce4fb;
  --cl-accent: #ff8356;
  --cl-black: #111111;
  --cl-background: #fef9f9;
  --cl-gray: #888888;
  --cl-almost-white: #FFFFFF;

  --gr-blue: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
  --gr-accent: linear-gradient(90deg, #FF634E 0%, #FFDF48 105.44%);

  --shadow-default: 3px 8px 14px rgba(136, 198, 253, 0.19);
  --shadow-hover: 7px 13px 14px rgba(116, 177, 232, 0.24);

  /* size */

  /* animat */
  --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding: 0 16px;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
    display: block;
    width: 100%;
}
